/* Conteneur principal */
#main {
    position: relative;
    background-image: url(/assets/img/ticket.svg);
    background-repeat: no-repeat;
    width: 50%;
    aspect-ratio: 2/1;
    margin: auto;
    margin-bottom: 6vh;
    overflow: hidden;
    /* border: 1px solid yellow; */
}

/* Partie supérieure */
#barre {
    position: relative;
    height: 24%;
    /* border: 1px solid aqua; */
}

/* Nom du propriétaire de l'avion */
#nom {
    font-size: 2.5vw;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5%;
    width: 60%;

    /* Couper le nom lorsqu'il est trop grand */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* border: 1px solid red; */
}

/* Partie inférieure */
#contenu {
    position: relative;
    height: 76%;    
}

/* Bloc à gauche du prédécoupage du ticket*/
#left {
    position: relative;
    float: left;

    width: 71%;
    height: 100%;
    font-size: 2vw;

    /* border: 1px solid green; */
}

/* Informations relatives à l'aéroport de départ */
#from { 
    position: absolute;
    aspect-ratio: 3/4;
    width: 20%;

    top: 48%;
    transform: translate(50%, -50%);
    
    /* Centrer texte interne */
    display: flex;
    align-items: center;
    
    /* border: 1px solid purple; */
}

/* Informations relatives à l'aéroport d'arrivée */
#to {
    position: absolute;
    aspect-ratio: 3/4;
    right: 0;
    width: 20%; 
    top: 48%;
    transform: translate(-80%, -50%);

    /* Centrer texte interne */
    display: flex;
    align-items: center;

    /* border: 1px solid salmon; */
}

/* Bloc à droite du prédécoupage du ticket*/
#right {
    position: relative;
    float: right;
    width: 27%;
    height: 100%;
    /* border: 1px solid magenta; */
}

/* Informations relatives au modèle de l'avion */
#vol {
    position: absolute;
    height: 25%;
    aspect-ratio: 4/2;
    transform: translate(15%, 32%);
    text-align: center;
    font-size: 0.8vw;
    
    /* border: 1px solid pink; */
}

/* Logo du site */
img {
    position: absolute;
    width: 30%;
    bottom: 0;
    transform: translate(110%, -50%);
}