<div id="main">
    <div id="barre">
        <h2 id="nom">Elon Musk</h2>
    </div>
    <div id="contenu">
        <div id="left">
            <div id="from">
                <span>NYC<br>14h31<br>29/03/2023</span>
            </div>
            <div id="to">
                <span>Paris<br>22h07<br>29/03/2023</span>
            </div>
        </div>
        <div id="right">
            <div id="vol">
                <h2>Vol</h2>
                <p>FZT-947-MLA1</p>
            </div>
            <img src="/assets/img/logo.svg" alt="">
        </div>
    </div>
</div>










<!-- ANCIENNE VERSION AVEC LE JAVASCRIPT -->
<!-- 
<div id="main">
    <div id="barre">
        <h2 id="nom">{{nom}}</h2>
    </div>
    <div id="contenu">
        <div id="left">
            <div id="from">
                <span>{{depart_aeroport}}<br>{{depart_heure}}<br>{{depart_date}}</span>
            </div>
            <div id="to">
                <span>{{arrivee_aeroport}}<br>{{arrivee_heure}}<br>{{arrivee_date}}</span>
            </div>
        </div>
        <div id="right">
            <div id="vol">
                <h2>Vol</h2>
                <p>{{immatriculation}}</p>
            </div>
            <img src="/assets/img/logo.svg" alt="">
        </div>
    </div>
</div> -->