<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
  <label class="form-check-label" for="inlineCheckbox1">Elon Musk</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
  <label class="form-check-label" for="inlineCheckbox2">Bill Gates</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
  <label class="form-check-label" for="inlineCheckbox3">Michael Jordan</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
  <label class="form-check-label" for="inlineCheckbox4">Taylor Swift</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
  <label class="form-check-label" for="inlineCheckbox5">Jim Carrey</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
  <label class="form-check-label" for="inlineCheckbox6">Alan Sugar</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option7">
  <label class="form-check-label" for="inlineCheckbox7">John Travolta</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="option8">
  <label class="form-check-label" for="inlineCheckbox8">Donald Trump</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox9" value="option9">
  <label class="form-check-label" for="inlineCheckbox9">Roman Abramovich</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox10" value="option10">
  <label class="form-check-label" for="inlineCheckbox10">Magic Johnson</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="option11">
  <label class="form-check-label" for="inlineCheckbox11">Matt Damon</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox12" value="option12">
  <label class="form-check-label" for="inlineCheckbox12">The Windsors</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox13" value="option13">
  <label class="form-check-label" for="inlineCheckbox13">Harrison Ford</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" id="inlineCheckbox14" value="option14">
  <label class="form-check-label" for="inlineCheckbox14">Jay-Z</label>
</div>
