<div class="container">
  <div class="row">
    <div class ="col-xl-3 col-sm-4" id="panneau-labels">
      <div *ngFor="let personne of listePersonnes; let i = index" class="entree form-check form-check-inline">
        <input class="form-check-input" [id]="'inlineCheckbox'+i" type="checkbox" [value]="personne.id"
          (click)="onCheckboxChange($event, i)">
        <label class="form-check-label" [for]="'inlineCheckbox'+i">{{ personne.prenom + ' ' + personne.nom }}</label>
      </div>
    </div>
  
  
    <div class="col-xl-9 col-sm-8" id="panneau-graphique">
      <canvas id="monGraphique">{{ chart }}</canvas>
    </div>
  </div>
</div>