.container {
  height: 50vh;
  /* background-color: #EED454; */
  padding: 2vh;
  background-color: #ffefa1;
  border-radius: 1rem;
}

.row {
  position: relative;
  height: 100%; 
}

#panneau-graphique {
  position: relative;
  height: 100%;
}

#panneau-labels {
  position: relative;
  height: 100%;
  overflow: auto;
}

#monGraphique {
  margin: auto 0;
}

.entree {
  display: block;
}