<header>
    <div id="bg-image"></div>
    <div id="presentation">
        <h1 id="titre-site">JetTracker</h1>
        <p id="sous-titre">Localisez les jets privés des personnes les plus influentes de la planète.</p>
        <!-- Carrousel -->
        <app-carrousel></app-carrousel>
    </div>
</header>

<app-carte-profil></app-carte-profil>
<div class="espacement"></div>
<app-map></app-map>
<div class="espacement"></div>
<app-graphique></app-graphique>

<!-- Routing -->
<router-outlet></router-outlet>
