<header>
  <div id="bg-image"></div>
  <div id="presentation">
    <h1 id="titre-site">JetTracker</h1>
    <p id="sous-titre">Localisez les jets privés des personnes les plus influentes de la planète.</p>
    <div class="espacement"></div>
    <!-- Carrousel -->
    <h1 id="titre-carrousel">Derniers vols</h1>

    <app-carrousel></app-carrousel>
  </div>
</header>

<div class="espacement"></div>


<h1 class="titre-composant" id="titre-carte-profil">Le top des consommateurs</h1>
<app-carte-profil></app-carte-profil>

<div class="espacement"></div>

<h1 class="titre-composant" id="titre-map">Visualiser les derniers trajets</h1>
<app-map></app-map>

<div class="espacement"></div>

<h1 class="titre-composant" id="titre-graphique">Comparer les personnalités</h1>
<app-graphique></app-graphique>

<div class="espacement"></div>

<div id="encart">
  <h1 class="titre-composant">Pourquoi utiliser JetTracker ?</h1>
  <p>JetTracker vous permet de connaitre en temps réel des informations sur les vols des jets privés
    des personnes les plus riches de la planète. <br>
    Ce site s'adresse aux journalistes, militants écologistes ou simplements intéressés. <br>
    Les données sont actualisées en temps réel et vous garantissent un suivi détaillé et fiable.
  </p>
</div>

<div class="espacement"></div>


<div id="pied-de-page">
  <p>© JetTracker 2023 | <a href="">Nous contacter</a> | <a href="">Mentions Légales</a> | <a href="">Politique en
    matière de cookies </a> | <a href="">Confidentialité</a></p>

</div>

<!-- Routing -->
<router-outlet></router-outlet>
