@import "~leaflet/dist/leaflet.css";
#map {
  display: flex;
  width: 50vw;
  height: 50vh;
  overflow-x: hidden;
  margin-top: 1%;
}

.leaflet-routing-alt {
  visibility: hidden;
}

div.leaflet-top.leaflet-right {
  display: none !important;
  width: 0px !important;
  height: 0px !important;
}

.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}

#head {
  display: inline-flex;
  text-align: center;
}

#head > * {
  margin: auto;
}

#head > :not(#head :first-child label) {
  margin-left: 10px;
  text-align: center;
}

.leaflet-marker-icon {
  /* background-image: url("https://unpkg.com/leaflet@1.2.0/dist/images/marker-icon-2x.png"); */
  display: none;
}

#map-container {
  background-color: #e5e1e6;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1vh;
  padding: 1vw;
  border-radius: 1em;
  color: rgb(0, 0, 0);
}

#jet-owner-select {
  border-radius: 0.5em;
  width: 20vw;
}
