<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />

<div class="container ">
  <div id="map-container">
    <div id="head">
      <app-selecteur-personne></app-selecteur-personne>

      <p>Moyen de transport :</p>

      <input type="checkbox" id="voiture-checkbox" name="voiture-checkbox" (change)="toggleCheckbox($event)" />

      <label for="jet-checkbox">Voiture</label>

      <input type="checkbox" id="jet-checkbox" name="jet-checkbox" (change)="toggleCheckbox($event)" checked />
      <label for="jet-checkbox">Jet</label>
    </div>

    <div id="map"></div>
  </div>
</div>