<div class="card mb-4">
    <div class="card-body p-4">
        <div class="d-flex">
            <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
            <div class="ms-4">
                <p class="mb-1">Thank you for putting together such a great product. We loved working with you and the whole team, and we will be recommending you to others!</p>
                <div class="small text-muted">- Client Name, Location</div>
            </div>
        </div>
    </div>
</div>