<div>
    <form id="selecteur">
        <div id="select-box">
            <input type="checkbox" id="options-view-button" />
            <div id="select-button" class="brd">
                <div id="selected-value">
                    <span>Choisir une personnalité publique</span>
                </div>
            </div>
            <div id="options" >
                <div class="option">
                    <input class="s-c top" type="radio" name="person" value="elonm" />
                    <input class="s-c bottom" type="radio" name="person" value="elonm" />
                    <i class="fab fa-elonm"></i>
                    <span class="label">Elon Musk</span>
                    <span class="opt-val">Elon Musk</span>
                </div>
                <div class="option">
                    <input class="s-c top" type="radio" name="person" value="billg" />
                    <input class="s-c bottom" type="radio" name="person" value="billg" />
                    <i class="fab fa-billg"></i>
                    <span class="label">Bill Gates</span>
                    <span class="opt-val">Bill Gates</span>
                </div>
                <div class="option">
                    <input class="s-c top" type="radio" name="person" value="michaelj" />
                    <input class="s-c bottom" type="radio" name="person" value="michaelj" />
                    <i class="fab fa-michaelj"></i>
                    <span class="label">Michael Jordan</span>
                    <span class="opt-val">Michael Jordan</span>
                </div>
                <div class="option">
                    <input class="s-c top" type="radio" name="person" value="taylors" />
                    <input class="s-c bottom" type="radio" name="person" value="taylors" />
                    <i class="fab fa-taylors"></i>
                    <span class="label">Taylor Swift</span>
                    <span class="opt-val">Taylor Swift</span>
                </div>
                <div class="option">
                    <input class="s-c top" type="radio" name="person" value="jimc" />
                    <input class="s-c bottom" type="radio" name="person" value="jimc" />
                    <i class="fab fa-jimc"></i>
                    <span class="label">Jim Carrey</span>
                    <span class="opt-val">Jim Carrey</span>
                </div>
                <div class="option">
                    <input class="s-c top" type="radio" name="person" value="alans" />
                    <input class="s-c bottom" type="radio" name="person" value="alans" />
                    <i class="fab fa-alans"></i>
                    <span class="label">Alan Sugar</span>
                    <span class="opt-val">Alan Sugar</span>
                </div>
                <div class="option">
                    <input class="s-c top" type="radio" name="person" value="johnt" />
                    <input class="s-c bottom" type="radio" name="person" value="johnt" />
                    <i class="fab fa-johnt"></i>
                    <span class="label">John Travolta</span>
                    <span class="opt-val">John Travolta</span>
                </div>
                <div class="option">
                    <input class="s-c top" type="radio" name="person" value="donaldt" />
                    <input class="s-c bottom" type="radio" name="person" value="donaldt" />
                    <i class="fab fa-donaldt"></i>
                    <span class="label">Donald Trump</span>
                    <span class="opt-val">Donald Trump</span>
                </div>
                <div class="option">
                    <input class="s-c top" type="radio" name="person" value="romana" />
                    <input class="s-c bottom" type="radio" name="person" value="romana" />
                    <i class="fab fa-romana"></i>
                    <span class="label">Roman Abramovich</span>
                    <span class="opt-val">Roman Abramovich</span>
                </div>
                <div class="option">
                    <input class="s-c top" type="radio" name="person" value="magicj" />
                    <input class="s-c bottom" type="radio" name="person" value="magicj" />
                    <i class="fab fa-magicj"></i>
                    <span class="label">Magic Johnson</span>
                    <span class="opt-val">Magic Johnson</span>
                </div>
                <div class="option">
                    <input class="s-c top" type="radio" name="person" value="mattd" />
                    <input class="s-c bottom" type="radio" name="person" value="mattd" />
                    <i class="fab fa-mattd"></i>
                    <span class="label">Matt Damon</span>
                    <span class="opt-val">Matt Damon</span>
                </div>
                <div class="option">
                    <input class="s-c top" type="radio" name="person" value="thew" />
                    <input class="s-c bottom" type="radio" name="person" value="thew" />
                    <i class="fab fa-thew"></i>
                    <span class="label">The Windsors</span>
                    <span class="opt-val">The Windsors</span>
                </div>
                <div class="option">
                    <input class="s-c top" type="radio" name="person" value="harrisonf" />
                    <input class="s-c bottom" type="radio" name="person" value="harrisonf" />
                    <i class="fab fa-harrisonf"></i>
                    <span class="label">Harrison Ford</span>
                    <span class="opt-val">Harrison Ford</span>
                </div>
                <div class="option">
                    <input class="s-c top" type="radio" name="person" value="jayz" />
                    <input class="s-c bottom" type="radio" name="person" value="jayz" />
                    <i class="fab fa-jayz"></i>
                    <span class="label">Jay-Z</span>
                    <span class="opt-val">Jay-Z</span>
                </div>

                <div id="option-bg"></div>
            </div>
        </div>
    </form>
</div>
